.filter-wrapper {
  font-family: 'Baloo Paaji 2', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #FDFDFF;
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: all 250ms ease-in-out;
}

.filter-wrapper:hover {
  background-color: #f3f3f3;
}

.filter-wrapper.open {
  padding-bottom: 1rem;
}

.filter-wrapper.open {
  background-color: #fdfdff;
}

.filter-options {
  max-height: 0;
  overflow-y: hidden;
}

.filter-wrapper.open > .filter-options {
  max-height: 350px;
  overflow-y: visible;
}

.filter-wrapper.open > .filter-toggler {
  border-bottom: 2px solid #e5e5e5;
  margin-bottom: 1rem;
}

.filter-checkbox-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
}

.filter-checkbox-container > .checkbox {
  font-size: 1.75rem;
}

.filter-nav {
  display: flex;
  flex-direction: column;
}

.filter-header {
  font-weight: 800;
  color: #555;
  letter-spacing: 0.5px;
}

.filter-toggler {
  font-weight: 700;
  color: #444;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  padding-top: 1rem;
  padding-bottom: 0.8rem;
  cursor: pointer;
}

.hemispheres-wrapper {
  padding-top: 1rem;
  margin-bottom: 0.6rem;
}

.hemispheres-container {
  display: flex;
  justify-content: space-between;
}

.hemisphere-header {
  font-weight: 800;
  color: #555;
  letter-spacing: 0.5px;
}

.options {
  display: flex;
}

.option-wrapper:first-child {
  padding-right: 0.5rem;
}

.option {
  background-color: #e5e5e5;
  padding: 0.15rem 0.35rem;
  border-radius: 15px;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.option.active {
  background-color: #9CBE89;
  color: #F9F9F9;
}

.search-bar-wrapper {
  padding-top: 1rem;
}

.search-bar {
  width: 100%;
  font-family: 'Baloo Paaji 2', sans-serif;
  color: #555;
  font-weight: 600;
  font-size: 1.1rem;
  border: 2px solid #e5e5e5;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1.25rem;
  letter-spacing: 0.25px;
  transition: all 150ms ease-in-out;
}

.search-bar:focus {
  outline: none;
  border: 2px solid #7EA3CC;
}

.search-bar::placeholder {
  color: #777;
}


.time-input::-webkit-outer-spin-button,
.time-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.time-input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputs-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.time-input {
  font-family: 'Baloo Paaji 2', sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  color: #555;
  line-height: 2.5rem;
  height: 2.5rem;
  padding-right: 0.35rem;
  padding-left: 0.35rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border: 2px solid #e5e5e5;
  border-radius: 3px;
  text-align: center;
  -moz-appearance: textfield;
  min-width: 50px;
  transition: all 150ms ease-in-out;
}

.meridian-dropdown {
  padding: 0.3rem;
  font-weight: 600;
  color: #555;
  cursor: pointer;
}

.time-input:focus {
  outline: none;
  border: 2px solid #7EA3CC;
}

.filter-location-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
  min-height: 44px;
}

.location-list-container {
  border: 2px solid #e5e5e5;
  font-weight: 600;
  border-radius: 5px;
  color: #555;
  position: relative;
  min-width: 146px;
}

.location-list-container.open {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.location-list {
  position: absolute;
  top: 100%;
  left: -2px;
  z-index: 9000;
  min-width: 146px;
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: right;
}

.selected {
  text-align: center;
  padding: 0.5rem 1rem;
}

.location-list-container.open > .selected {
  text-align: right;
}

.location-list-container.open > .location-list {
  border: 2px solid #e5e5e5;
}

.location-item {
  padding: 0.5rem 1rem;
  border-bottom: 2px solid #efefef;
}

.location-item, .selected {
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.location-item:hover, .selected:hover {
  background-color: #ddd;
}

.location-item:last-child {
  border-bottom: none;
}

@media (min-width: 600px) {
  .filter-header, .hemisphere-header {
    font-size: 1.1rem;
  }

  .filter-checkbox-container > .checkbox {
    font-size: 1.9rem;
  }
}

@media (min-width: 900px) {

}
