.card-title, .season-header, .pill,
.time-info, .location-info, .shadow-info, .card-footer {
  font-family: 'Baloo Paaji 2', sans-serif;
}

.collectibles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-wrapper {
  padding: 1rem;
}

.card {
  background-color: #FDFDFF;
  width: 275px;
  border: 2px solid #E1DEE3;
  border-radius: 5px;
}

.card-title {
  display: block;
  padding: 0.75rem;
  text-align: center;
  font-weight: 800;
  color: #555;
  font-size: 1.25rem;
  border-bottom: 2px solid #E1DEE3;
  letter-spacing: 0.5px;
}

.fossil-component > .card-title {
  font-size: 1.1rem;
  border-bottom: none;
}

.bug-picture {
  width: 75%;
}

.music-picture {
  width: 55%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.fish-picture {
  width: 92%;
}

.card-picture {
  display: block;
  height: auto;
  margin: 0 auto;
}

.season-info-container {
  border-top: 2px solid #E1DEE3;
  padding-top: 0.5rem;
}

.pills-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.pill-wrapper {
  width: 25%;
  padding: 0.1rem;
}

.pill-wrapper:nth-child(4n + 1) {
  padding-left: 0;
}

.pill-wrapper:nth-child(4n) {
  padding-right: 0;
}

.season-header {
  display: block;
  width: 88%;
  margin: 0.15rem auto;
  color: #666;
  font-size: 1.1rem;
  font-weight: 600;
}

.pill {
  background-color: #E7E7E7;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  text-align: center;
  color: #555;
  font-weight: 600;
  border-radius: 30px;
  letter-spacing: 0.75px;
}

.pill.active {
  background-color: #9CBE89;
  color: #f9f9f9;
}

.time-info, .location-info, .shadow-info, .card-footer {
  font-weight: 600;
  color: #666;
  width: 90%;
  margin: 0 auto;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #E1DEE3;
  font-size: 1.1rem;
}

.card-footer, .fossil-component:last-child {
  border: none;
  align-items: center;
}

.fossil-component {
  border-bottom: 2px solid #E1DEE3;
}

.fossil-component > .card-footer {
  padding-top: 0rem;
  margin-top: -0.25rem;
  padding-bottom: 0.5rem;

}

.season-header, .time-header, .location-header, .value, .shadow-header {
  letter-spacing: 0.5px;
}

.music-location {
  width: 100%;
  justify-content: center;
  border-top: 2px solid #E1DEE3;
  border-bottom: none;
}

.available-times {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.time:first-child {
  padding-bottom: 0.2rem;
}

.location-text {
  text-align: right;
  line-height: 1.15rem;
  padding-left: 0.1rem;
}

.music-checkbox {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 0.4rem;
}

.checkbox {
  font-size: 1.9rem;
  color: #9CBE89;
}
